<%= turbo_stream.update "flash_message" do %>
 <%= render 'shared/flash_messages' %>
 <% end %>

<%= turbo_stream.replace "tax_form" do %>
  <div id='tax_form'>
		<p> Monthly Income: <%= @monthly_income %> </p>
		<p> Annual Income: <%= @total_income%></p>
		<p> SSF amount: <%= @ssf_amt%></p>
		<p> Insurance amount: <%= @insurance_amount %></p>
		<p> Bonus: <%= @bonus %> </p>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Assessible Income(Rs.)</th>
					<th scope="col">Rate(%)</th>
					<th scope="col">Tax(Rs.)</th>
				</tr>
			</thead>
			<tbody>
				<% previous_value = 0 %>
				<% @taxes.each_with_index do |(key, val), index|%>
				<tr>
					<td><%= format("%.2f", val.keys.first) %></td>
					<td><%= key %></td>
					<td>
						<% if previous_value.present? %>
							<%= format("%.2f", (val.values.first - previous_value)) %>
						<% else %>
							<%= format("%.2f", previous_value) %>
						<% end %>
					</td>
				</tr>
				<% previous_value = val.values.first %>
				<% end %>
				<tr>
					<% total_sum = @taxes.values.sum { |val| val.keys.first } %>
					<td><%= format("%.2f", total_sum) %></td>
					<td></td>
					<td><%= format("%.2f", @result) %></td>
				</tr>
				<tr>
					<td></td>
					<td>Net Tax Liability (Monthly):</td>
					<td><%= format("%.2f", @result/12) %></td>
				</tr>

				<tr>
					<td></td>
					<td>Net Tax Liability (Yearly):</td>
					<td><%= format("%.2f", @result) %></td>
				</tr>
			</tbody>
		</table>

		<p> The calculated tax for this year is <%= @result%></p>
		<h5> Income after Tax Deduction </h5>
		<p> Income after tax deduction (monthly) is <%= income_after_tax("monthly", @monthly_income, @result) %></p>
		<p> Income after tax deduction (annual) is <%= income_after_tax("annual", @monthly_income, @result) %></p>
	</div>
	<%= link_to "Back", taxes_path, class: "btn btn-primary"%>
<% end %>
