<div id="flash_message">
	<%= render 'shared/flash_messages' %>
</div>

<div class="mx-auto bg-slate-200 h-full p-4" style="max-width: 750px">
<h1 class="font-extralight">
  Tax Calculator
</h1>
<div id="tax_form">
	<%= simple_form_for Tax.new do |f| %>
		<%= f.input :monthly_income %>
		<%= f.input :bonus %>
		<%= f.input :insurance_amount %>
		<%= f.input :ssf_amt %>
		<%= f.input :epf_amt %>
		<%= f.input :cit %>
		<%= f.input :marital_status do %>
			<%= f.select :marital_status, Tax.marital_statuses.collect { |key,value| [key.to_s.titleize, key] }, include_blank: true %>
		<% end %>
		<%= f.button :submit, "Calculate Tax", class:"btn btn-success" %>
	<% end %>
</div>
</div>